# Log files
*.log

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env
.venv

# Distribution / packaging
dist/
build/
*.egg-info/

# OS specific files
.DS_Store
Thumbs.db
